
.cv-background1{
    background: url("https://images.pexels.com/photos/220444/pexels-photo-220444.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    height: 100%;
}
.mainheading{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
}
p{
    margin-left: 5%
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
a{
    font-size: 25px;
    text-decoration: none;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: grey;
    background-color: white;
}
a:hover {
    color: white;
    border-color: lime;
    background-color: lime;
}
#pic{
    position: fixed;
}
.cv-background2{
    background: url("https://images.pexels.com/photos/265076/pexels-photo-265076.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    height: 100%;
}

.cv-background3{
     background: url("https://images.pexels.com/photos/264636/pexels-photo-264636.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    height: 100%;
}
#work1{
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background: black;
}
#work2{
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background: black;
}
#work3{
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background: black;
}