
html,head
title{
    color:white;
}

html,
body{
    height:100%;
    width:100%;
}
header{ 
    color:blue;
    border-radius: 10px;
}
.mainheading{
    text-align: center;
}

body{
    background: url(https://images.pexels.com/photos/355770/pexels-photo-355770.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb);
    height:100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

a{
    text-decoration: none;
    color:yellow;
    margin:90px;
    font-size: 35px;
    margin-left:4%;
   

}
a:hover {
    color: lime;
}

title{
    color:white;
}

p{
    font-size: 30px;
    margin-left: 25%;
    font-style: italic;
    color: black;
}
.sport-background {
    background: url("https://images.unsplash.com/photo-1508098682722-e99c43a406b2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=10794df94c2543bee8f590b3681452c7&auto=format&fit=crop&w=1050&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: white;
    
}
#section1 {
    background: url("http://www.fivefoot5.co.uk/downloads/hillsborough02.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    
}
#section2 {
     background: url("https://greeksunyachts.gr/wp-content/media/2016/03/Sailing-Greece-Ios-island-Greek-Sun-Yachts.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color:white;
    text-align: center;
}
#section3 {
     background: url("https://images.unsplash.com/photo-1415889455891-23bbf19ee5c7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5025d379155afa5d4070dcb979acdf09&auto=format&fit=crop&w=1055&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color:white;
    text-align: center;
}

/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: list-item;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


.header1 {
    font-size:1px;
}

#sport{
    color: white;
    margin-left: 2%; 
}
#footy{
    color: #33E0ff;
    margin-left: 29%;
    font-size: 45px;
}
#footy2{
    color: #33E0ff;
    margin-left: 24%;
}
.mainheadingsp{
    margin-left: 40%;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;

}
.mainheadingsp:hover{
    color: #0EC7E8;
}

