.ebus{
    margin-top: 5%;
    margin-left: 1%;
}

body{
    background-image: url("https://images.pexels.com/photos/55787/pexels-photo-55787.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 36%;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 8%;
}

#clear {
    color: black;
    border-style: solid;
    border-width: 5px;
    border-color: grey;
    background-color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 30px;
   
}

#clear:hover{
    color: white;
    border-color: blue;
    background-color: blue;
}
#Calculate{
    font-size: 30px;
    text-decoration: none;
    border-radius: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: grey;
    
}
#Calculate:hover{
    color: white;
    border-color: blue;
    background-color: blue;
}

#cart{
    font-size: 17px;
    text-decoration: none;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: grey;
    
}
#cart:hover{
    color: white;
    border-color: blue;
    background-color: blue;
}


form{
    margin-top: 10px;
}